### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

__pycache__/

.venv

.terraform/
secrets.tfvars
**/trd_cli.log

tests/fixtures/rc_variables.txt

tests/.redcap_structure.txt
